@{
    Layout = null;
}
<script type="text/template" id="index_4">
    <div>
        <h1> Index4</h1>

    </div>
</script>

<script type="text/javascript">
    var index4 = {
        template: "#index_4"
    }
</script>
