@{
    Layout = null;
}
<script type="text/template" id="index_5">
    <div>
        <h1> Index5</h1>

    </div>
</script>

<script type="text/javascript">
   var index5={
        template: "#index_5"
   }
</script>
