<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YzProject.WebMVCVue</title>
    <link href="~/lib/element-ui/theme-chalk/index.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/css/site.css" />*@
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        #app {
            height: 100%;
        }

        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > #app > .el-container {
            /*margin-bottom: 40px;*/
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0;
            bottom: 0;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        .el-menu-vertical-demo:not(.el-menu--collapse) {
            width: 200px;
            min-height: 400px;
        }

    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">
               @* <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
                    <el-radio-button :label="false">展开</el-radio-button>
                    <el-radio-button :label="true">收起</el-radio-button>
                </el-radio-group>
                <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @@open="handleOpen" @@close="handleClose" :collapse="isCollapse">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span slot="title">导航一</span>
                        </template>
                        <el-menu-item-group>
                            <span slot="title">分组一</span>
                            <el-menu-item index="1-1">选项1</el-menu-item>
                            <el-menu-item index="1-2">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                            <el-menu-item index="1-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <span slot="title">选项4</span>
                            <el-menu-item index="1-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">导航二</span>
                    </el-menu-item>
                    <el-menu-item index="3" disabled>
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                </el-menu>*@
                <el-row class="tac">
                    <el-col :span="12">
                        <el-menu default-active="1-1"
                                 background-color="#545c64"
                                 text-color="#fff"
                                 active-text-color="#ffd04b"
                                 mode="vertical"
                                 unique-opened
                                 :collapse="isCollapse"
                                 :collapse-transition="false"
                                 class="el-menu-vertical-demo"
                                 @@open="handleOpen"
                                 @@close="handleClose"
                                 @@select="handleSelect">
                            <el-submenu index="1">
                                <template slot="title">
                                    <i class="el-icon-location"></i>
                                    <span>导航一</span>
                                </template>
                                <el-menu-item-group>
                                    <template slot="title">分组一</template>
                                    <el-menu-item index="1-1">选项1</el-menu-item>
                                    <el-menu-item index="1-2">选项2</el-menu-item>
                                </el-menu-item-group>
                                <el-menu-item-group title="分组2">
                                    <el-menu-item index="1-3">选项3</el-menu-item>
                                </el-menu-item-group>
                                <el-submenu index="1-4">
                                    <template slot="title">选项4</template>
                                    <el-menu-item index="1-4-1">选项1</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-menu"></i>
                                    <span slot="title">导航二</span>
                                </template>
                                <el-menu-item index="2-1">选项2-1</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="3" disabled>
                                <i class="el-icon-document"></i>
                                <span slot="title">导航三</span>
                            </el-menu-item>
                            <el-menu-item index="4">
                                <i class="el-icon-setting"></i>
                                <span slot="title">导航四</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col>
                        <el-button @@click="isCollapse = !isCollapse">折叠</el-button>
                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
                <el-header>Header</el-header>
                <el-main>
                    @RenderBody()
                </el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </el-container>
        @*<el-container>
        <el-header>Header</el-header>
        <el-container>
        <el-container>
        <el-main>
        @RenderBody()
        </el-main>
        <el-footer>Footer</el-footer>
        </el-container>
        </el-container>
        </el-container>*@
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vue.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/lib/element-ui/index.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return { 
                    visible: false, 
                    isCollapse: false
                }
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log('handleSelect', key, keyPath);
                },
                handleOpen(key, keyPath) {
                    console.log('handleOpen', key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log('handleClose', key, keyPath);
                }
            }
        })
    </script>
</body>
</html>